In [ ]:
# Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

In [1]:
# MongoDB is a document-oriented NoSQL database. NoSQL databases are a type of database that does not follow the traditional relational database model.B
# Non-relational databases, also known as NoSQL databases, are database management systems that differ from traditional SQL (relational) databases in
# their data storage and retrieval methods
# Non relational databases, store  data in a variety of ways, including documents, key-value pairs, and graphs.
# MongoDB shoul be refered over SQL for or applications that require high performance, scalability, or flexibility. 
# For example, non-relational databases are often used for #storing and querying large amounts of unstructured data,
 #such as social media data, sensor data, and log data.

In [ ]:
Q2. State and Explain the features of MongoDB.

In [1]:
 # MongoDB is a NoSQL document database that stores data in flexible, JSON-like documents, allowing for easy handling of complex data structures.
 # It offers high scalability and performance, with support for sharding and replication, making it suitable for handling large volumes of data
 # and high-traffic applications.
 # MongoDB's flexible schema allows for dynamic and ad-hoc updates to the data model, facilitating agile development
#  and enabling faster iteration and deployment of applications.

In [ ]:
Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [16]:
pip install pymongo[SRV]

Requirement already satisfied: pymongo[SRV] in /opt/conda/lib/python3.10/site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo[SRV]) (2.3.0)
Note: you may need to restart the kernel to use updated packages.

In [17]:
from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://kkishore1981:kkishore1981@cluster0.4camrll.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [9]:
import pymongo

client = pymongo.MongoClient("mongodb+srv://kkishore1981:kkishore1981@cluster0.4camrll.mongodb.net/?retryWrites=true&w=majority")

db = client.test

In [10]:
db

Database(MongoClient(host=['ac-rbhq0an-shard-00-00.4camrll.mongodb.net:27017', 'ac-rbhq0an-shard-00-02.4camrll.mongodb.net:27017', 'ac-rbhq0an-shard-00-01.4camrll.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-df5n2j-shard-0', tls=True), 'test')

In [11]:
db = client['pwskills']

In [12]:
data = {"name" : "sudh",
        "class" : "data science masters",
        "time" : "flexi"
       }

In [31]:
coll_pwskills = db['my_record']

In [ ]:
# Q4. Using the database and the collection created in question number 3, write a code to insert one record,
# and insert many records. Use the find() and find_one() methods to print the inserted record.

In [14]:
data1 = {"mail_id" : "sudh@gmail.com",
         "phone_number " : 2323424324,
         "addr" : "bangalore"
}

In [28]:
coll_pwskills.insert_one(data1)

In [16]:
data2 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }

In [21]:
coll_pwskills.find_one()

{'_id': ObjectId('6492e08498c3eee562746f76'),
 'name': 'sudh',
 'class': 'data science masters',
 'time': 'flexi'}

In [22]:
for i in coll_pwskills.find():
    print(i)

{'_id': ObjectId('6492e08498c3eee562746f76'), 'name': 'sudh', 'class': 'data science masters', 'time': 'flexi'}
{'_id': ObjectId('6492e0d998c3eee562746f77'), 'mail_id': 'sudh@gmail.com', 'phone_number ': 2323424324, 'addr': 'bangalore'}
{'_id': ObjectId('6492e0ff98c3eee562746f78'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6492e0ff98c3eee562746f79'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6492e0ff98c3eee562746f7a'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6492e0ff98c3eee562746f7b'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6492e0ff98c3eee562746f7c'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6492e0ff98c3eee562746f7d'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6492e0ff98c3eee562746f7e'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6492e0ff98c3eee562746f7f'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6492e0ff98c3eee562746f80'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6492e0ff98c3eee562746f81'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6492e0ff98c3eee562746f82'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6492e0ff98c3eee562746f83'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6492e2687fd806e1817d9d2f'), 'name': 'sudh', 'class': 'data science masters', 'time': 'flexi'}
{'_id': ObjectId('6492e28b7fd806e1817d9d30'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6492e28b7fd806e1817d9d31'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6492e28b7fd806e1817d9d32'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6492e28b7fd806e1817d9d33'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6492e28b7fd806e1817d9d34'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6492e28b7fd806e1817d9d35'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6492e28b7fd806e1817d9d36'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6492e28b7fd806e1817d9d37'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6492e28b7fd806e1817d9d38'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6492e28b7fd806e1817d9d39'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6492e28b7fd806e1817d9d3a'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6492e28b7fd806e1817d9d3b'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6492e7d0e84bc1e81d41825a'), 'name': 'sudh', 'class': 'data science masters', 'time': 'flexi'}
{'_id': ObjectId('6492e7d7e84bc1e81d41825b'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6492e7d7e84bc1e81d41825c'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6492e7d7e84bc1e81d41825d'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6492e7d7e84bc1e81d41825e'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6492e7d7e84bc1e81d41825f'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6492e7d7e84bc1e81d418260'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6492e7d7e84bc1e81d418261'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6492e7d7e84bc1e81d418262'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6492e7d7e84bc1e81d418263'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6492e7d7e84bc1e81d418264'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6492e7d7e84bc1e81d418265'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6492e7d7e84bc1e81d418266'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [ ]:
# Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
# demonstrate this.

In [ ]:
To query a MongoDB database we use the e find() method, we  need to provide a query document as a parameter to specify the conditions for matching documents in the collection. 
The find() method returns a cursor, which allows you to iterate over the matching documents.

In [ ]:
cursor = coll_pwskills.find()

In [ ]:
# Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [7]:
# The sort() method is used to sort the results of a query in MongoDB. It takes a document as input that specifies the order in which the documents should be sorted.
#The document can contain a list of fields along with their sorting order.The sorting order can be ascending (1) or descending (-1).

In [18]:
data3 = [
    { "name": "Amy", "address": "Apple st 652" },
    { "name": "Hannah", "address": "Mountain 21" },
    { "name": "Michael", "address": "Valley 345" },
    { "name": "Sandy", "address": "Ocean blvd 2" },
    { "name": "Betty", "address": "Green Grass 1" },
    { "name": "Richard", "address": "Sky st 331" },
    { "name": "Susan", "address": "One way 98" },
    { "name": "Vicky", "address": "Yellow Garden 2" },
    { "name": "Ben", "address": "Park Lane 38" },
    { "name": "William", "address": "Central st 954" },
    { "name": "Chuck", "address": "Main Road 989" },
    { "name": "Viola", "address": "Sideway 1633" }
]

In [4]:
pip install pymongo[SRV]

Collecting pymongo[SRV]
  Downloading pymongo-4.4.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (648 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 648.9/648.9 kB 20.4 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 32.3 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.4.0
Note: you may need to restart the kernel to use updated packages.

In [1]:
from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://kkishore1981:kkishore1981@cluster0.4camrll.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [2]:
data3 = [
    { "name": "Amy", "address": "Apple st 652" },
    { "name": "Hannah", "address": "Mountain 21" },
    { "name": "Michael", "address": "Valley 345" },
    { "name": "Sandy", "address": "Ocean blvd 2" },
    { "name": "Betty", "address": "Green Grass 1" },
    { "name": "Richard", "address": "Sky st 331" },
    { "name": "Susan", "address": "One way 98" },
    { "name": "Vicky", "address": "Yellow Garden 2" },
    { "name": "Ben", "address": "Park Lane 38" },
    { "name": "William", "address": "Central st 954" },
    { "name": "Chuck", "address": "Main Road 989" },
    { "name": "Viola", "address": "Sideway 1633" }
]

In [5]:

client = MongoClient(uri)

# Select the database and collection
db = client['pwskills']
collection = db['kaush']


data3 = [
    { "name": "Amy", "address": "Apple st 652" },
    { "name": "Hannah", "address": "Mountain 21" },
    { "name": "Michael", "address": "Valley 345" },
    { "name": "Sandy", "address": "Ocean blvd 2" },
    { "name": "Betty", "address": "Green Grass 1" },
    { "name": "Richard", "address": "Sky st 331" },
    { "name": "Susan", "address": "One way 98" },
    { "name": "Vicky", "address": "Yellow Garden 2" },
    { "name": "Ben", "address": "Park Lane 38" },
    { "name": "William", "address": "Central st 954" },
    { "name": "Chuck", "address": "Main Road 989" },
    { "name": "Viola", "address": "Sideway 1633" }
]


collection.insert_many(data3)

# Perform a query with sorting
sorted_data = collection.find().sort("name")

# Print the sorted data
for document in sorted_data:
    print(document)

{'_id': ObjectId('649400329b923999ee8ac4e5'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('649400329b923999ee8ac4ed'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('649400329b923999ee8ac4e9'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('649400329b923999ee8ac4ef'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('649400329b923999ee8ac4e6'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('649400329b923999ee8ac4e7'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('649400329b923999ee8ac4ea'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('649400329b923999ee8ac4e8'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('649400329b923999ee8ac4eb'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('649400329b923999ee8ac4ec'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('649400329b923999ee8ac4f0'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('649400329b923999ee8ac4ee'), 'name': 'William', 'address': 'Central st 954'}